.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-style: normal;
    color: #000;
    background-color: #fff;
    box-shadow: 1px 0 5px 1px #efeded;
    z-index: 1111111;

    .logo {
        margin-left: 50px;
        font-size: 25px;
        font-weight: 600;

        @media screen and (max-width: 600px) {
            margin-left: 30px;
        }

        @media screen and (max-width: 470px) {
            margin-left: 23px;
        }

        @media screen and (max-width: 425px) {
            margin-left: 20px;
        }

        a {
            text-decoration: none;
            color: #000;
            -webkit-tap-highlight-color: transparent;
        }


    }

    .menu1 {
        margin-right: 40px;
        display: flex;

        .list {
            display: flex;

            li {
                margin-right: 20px;
                list-style: none;
                font-size: 17px;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: #000;

                    &:hover {
                        color: #61DBFB;
                        transition: all .2s ease;
                    }
                }
            }
        }

        @media screen and (max-width: 905px) {
            display: none;
        }
    }

    label {
        display: none;

        @media screen and (max-width: 905px) {
            display: flex;
        }
    }

    label .menu {
        position: absolute;
        right: -100px;
        top: -120px;
        z-index: 100;
        width: 200px;
        height: 200px;
        background: #ffffff;
        border-radius: 50% 50% 50% 50%;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
        cursor: pointer;
    }

    label .hamburger {
        position: absolute;
        top: 160px;
        left: 50px;
        width: 30px;
        height: 3px;
        background: #000;
        display: block;
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        border-radius: 20px;
    }

    label .hamburger:after,
    label .hamburger:before {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #000;
        border-radius: 20px;
    }

    label .hamburger:before {
        top: -10px;
    }

    label .hamburger:after {
        bottom: -10px;
    }

    label input {
        display: none;
    }

    label input:checked+.menu {
        box-shadow: 10px 10px 10px 100vw #fff, 10px 10px 10px 100vh #fff;
        border-radius: 0;
        -webkit-tap-highlight-color: transparent;
    }

    label input:checked+.menu .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

    }

    label input:checked+.menu .hamburger:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        bottom: 0;

    }

    label input:checked+.menu .hamburger:before {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0;

    }

    .mobileList {
        display: none;


        @media screen and (max-width: 905px) {
            display: block;
            z-index: 200;
            position: absolute;
            top: 500%;
            left: 54%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
            -webkit-transition: .5s 0s ease-in-out;
            transition: .5s 0s ease-in-out;
            list-style-type: none;
            visibility: hidden;


            li {

                a {
                    margin-bottom: 1em;
                    display: block;
                    color: #000;
                    text-decoration: none;
                    font-size: 1.4rem;
                    -webkit-tap-highlight-color: transparent;

                    &:active{
                        color:#61DBFB;
                    }
                }
            }

            .shapes {
                position: absolute;
                top: -40%;
                left: -180%;
                z-index: -1;
                width: 400px;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;


                animation: turnAround 10s infinite linear;

                @keyframes turnAround {
                    100% {
                        transform: rotate(360deg);
                        transform-origin: center;
                    }
                }

                .shape1 {
                    width: 120px;
                    height: 350px;
                    background-color: transparent;
                    position: absolute;
                    border-radius: 50%;
                    transform: rotate(-30deg);
                    border: 10px solid #c8f1fb;
                    box-shadow: 0 0 5px 1px #a9edf8 ;
                }

                .shape2 {
                    width: 120px;
                    height: 350px;
                    background-color: transparent;
                    position: absolute;
                    border-radius: 50%;
                    transform: rotate(30deg);
                    border: 10px solid #c8f1fb;
                    box-shadow: 0 0 10px 1px #a9edf8 ;
                }

                .shape3 {
                    width: 120px;
                    height: 350px;
                    background-color: transparent;
                    position: absolute;
                    transform: rotate(90deg);
                    border-radius: 50%;
                    border: 10px solid #c8f1fb;
                    box-shadow: 0 0 10px 1px #a9edf8 ;
                }

                .shapeDot {
                    width: 50px;
                    height: 50px;
                    background-color: #c8f1fb;
                    position: absolute;
                    translate: (-50%, -50%);
                    border-radius: 50%;
                    border: 10px solid #c8f1fb;
                    box-shadow: 0 0 10px 1px #a9edf8 ;
                }
            }
        }

        @media screen and (max-width: 905px) and (max-height: 700px) {
            top: 350%;
        }

        @media screen and (max-width: 905px) and (max-height: 520px) {
            top: 300%;
        }

        @media screen and (max-width: 905px) and (max-height: 470px) {
            top: 250%;
        }
    }

    .activeUl {
        opacity: 1;
        visibility: visible;
    }
}