.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* padding: 80px 0px; */
    position: relative;
    background-color: #fff;
    overflow: hidden;
    height: calc(100vh - 80px);

    @media screen and (min-height: 900px) {
        height: 800px;
    }

    @media screen and (max-width: 905px) {
        padding: 50px 0px;
        height: 800px;
    }

    @media screen and (max-height: 700px) {
        min-height: 700px;
    }

    .cont-1 {
        /* width: 65%; */
        width: 960px;
        padding: 50px 40px;
        display: flex;
        border-radius: 50px;
        /* 
        box-shadow: 0 0 10px 1px rgba(#969d96, .4); */
        border: 0px solid rgba(#a5e3b6, 1);
        /* 
        background-color: #f9fcfd; */
        /* background-color: rgba(#a5e3b6, 0.3); */
        /* background: linear-gradient(90deg, rgba(#a5e3b6, .3), rgba(#61DBFB, .2)); */
        background: linear-gradient(90deg, rgb(227, 255, 234), rgb(221, 253, 251));
        position: relative;
        overflow: hidden;
        z-index: 2;

        @media screen and (max-width: 1100px) {
            width: 70%;
        }

        @media screen and (max-width: 905px) {
            width: 500px;
            flex-direction: column;
            padding: 50px 40px;
        }

        @media screen and (max-width: 683px) {
            width: 80%;
            padding: 20px 20px 30px 20px;
        }

        .cont-1a {
            flex: 1;
            position: relative;

            @media screen and (max-width: 905px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .coffeePic {
                width: 80%;
                height: 100%;
                object-fit: cover;
                border-radius: 50px;
                /* 
                box-shadow: 0 0 10px 10px #ebebeb; */
                border: 10px solid #fff;
                transform: rotateY(180deg);

                @media screen and (max-width: 905px) {
                    width: 300px;
                    height: 300px;
                }

                @media screen and (max-width: 500px) {
                    width: 100%;
                    height: 200px;
                    border: 5px solid #fff;
                }
            }

            .frontendLogo {
                position: absolute;
                width: 100px;
                height: 100px;
                bottom: -20px;
                right: 50px;
                animation: logo 3s infinite;
                object-fit: contain;
                display: none;

                @keyframes logo {
                    0% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(1.1);
                    }

                    100% {
                        transform: scale(1);
                    }
                }

            }

        }

        .cont-1b {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            gap: 10px;

            @media screen and (max-width: 905px) {
                align-items: center;
            }

            h3 {
                color: #a5e3b6;
                font-size: 1.2rem;
                border-bottom: 10px solid #fff;

                @media screen and (max-width: 905px) {
                    margin-top: 10px;
                    border-bottom: 0px solid #fff;
                }
            }

            h2 {
                color: #525353;
                margin-bottom: 10px;

                @media screen and (max-width: 905px) {
                    text-align: center;
                    margin-bottom: -10px;
                }

                @media screen and (max-width: 500px) {
                    font-size: 22px;
                }

                .spaceBr {
                    display: none;

                    @media screen and (max-width: 905px) {
                        display: flex;
                    }
                }
            }

            .location {
                width: 20px;
                height: 20px;
            }

            p {
                color: #7d7d7d;

                @media screen and (max-width: 905px) {
                    text-align: center;
                    font-size: 14px;
                }
            }


        }

        .shapeCircle {
            position: absolute;
            top: -30px;
            right: -30px;
            width: 70px;
            height: 70px;
            background-color: #dcfae4;
            border-radius: 50%;
            border: 10px solid #ffffff;

            @media screen and (max-width: 500px) {
                width: 40px;
                height: 40px;
                top: -15px;
                right: -15px;
                border: 5px solid #fff;
            }
        }
    }

    .line1a {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: -60%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line2a {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: -55%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line3a {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: -50%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line4a {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: -45%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line5a {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: -40%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line6a {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: -35%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line1 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: -30%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line2 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: -25%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line3 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: -20%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line4 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: -15%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line5 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: -10%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line6 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: -5%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line7 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 0%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line8 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 5%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line9 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 10%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line10 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 15%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line11 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 20%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line12 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 25%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line13 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 30%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line14 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 35%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line15 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 40%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line16 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 45%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line17 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 50%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line18 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 55%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line19 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 60%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line20 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 65%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line21 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 70%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line22 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 75%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line23 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 80%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line24 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 85%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line25 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 90%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line26 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 95%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line27 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 100%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line28 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 105%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line29 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 110%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line30 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 115%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line31 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 120%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line32 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 125%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line33 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 130%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line34 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 135%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line35 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 140%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line36 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 145%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line37 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 150%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line38 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #d9fdea;
        top: 155%;
        left: -10%;
        transform: rotate(-21deg);
    }

    .line39 {
        position: absolute;
        width: 120%;
        height: 3px;
        background-color: #f1fef7;
        top: 160%;
        left: -10%;
        transform: rotate(-21deg);
    }

}